<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/links.css" />
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>

<body>
  <div class="Main-container">
    <div class="name-head">
      <%=username%>
    </div>

    <div class="container">
      <form class="form" action="/user/profile/create" method="POST">
        <!-- <h1></h1> -->

        <input type="text" name="title" placeholder="title" />
        <input type="text" name="link" placeholder="link" />
        <button type="submit" id="login-button">Create Link</button>
      </form>
    </div>
    <div class="main-last-container">
      <%link_list.reverse()%>

        <%for(let i of link_list) {%>
          <div class="links-contrainer">
            <% var logo=JSON.stringify(i.Link) %>

              <%logo=logo.slice(13,14)%>
                <div class="image link" id="<%=logo%>">

                  <%if(logo=='y' ){ %>
                    <i class="fa-brands fa-youtube"></i>

                    <%}else if(logo=='t' ){ %>
                      <i class="fa-brands fa-twitter"></i>
                      <%}else if(logo=='l' ){ %>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <%}else if(logo=='i' ){ %>
                          <i class="fa-brands fa-instagram"></i>
                          <%}else if(logo=='f' ){ %>
                            <i class="fa-brands fa-facebook-f"></i>

                            <%}else{%>

                              <i class="fa-solid fa-link"></i>
                              <%}%>


                                <a href="<%=i.Link%>">
                                  <%=i.Title%>
                                </a>
                                <a class="delete" href="/user/profile/deletelink/?id=<%=i._id%>"><i
                                    class="fa-solid fa-trash-can"></i></a>
                </div>
          </div>

          <%}%>
    </div>
  </div>
  <div class="other-field">
    <a href="/user/profile/">All-Notes</a>

    <a href="/user/profile/todo">To-do</a>
    <a href="/user/profile/link/?name=<%=user.name%>">Linktree</a>
    <a href="/user/profile/Book">Books</a>
    <a href="/user/profile/movie">Movie</a>
    <a href="/user/signout">Sign Out</a>
  </div>
</body>

</html>