<html>
  <head>
    <title><%=title%></title>
    
  </head>

  <a href="/user/profile"> <%= user.name %></a>
  <a href="/user/signout">Sign Out</a>
  <h1>Profile</h1>
  <p><%=user.name%></p>
  <p><%=user.email%></p>
  <button type="submit"><a href="/posts/addnote">add</a></button>
  <ul>
      <% for(let i of post_list){%>
        <li><%=i.content%></li>
        <li><%=i.Title%></li>

        <% } %>
  </ul>
 
</html>
